/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*---------------
        common styles
/* ------------------  */


body {
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    background-color: #FFFFFF;
    /* position: relative; */
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;

}

/*--------------
               header style
-----------------------------  */
nav {
    display: flex;
    justify-content: space-around;

    align-items: center;
    margin-bottom: 80px;
}

.influencer-dir {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;

}

.menu-info {
    width: 500px;

    border: 1px solid;
}

.menu-info a {
    text-decoration: none;
    margin-right: 34px;
}

.menu {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.fa-magnifying-glass {
    border: 2px;
    font-size: 18px;
    color: #000000;

}

.fa-cart-shopping {
    font-size: 24px;
    color: #000000;
}

/*---------------------
   -----Top styles-----
------------------ */
.influencer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.influencer-journey {
    border: 1px solid;
    width: 600px;
    height: 270px;
    margin-left: 120px;
}

.head-title {
    color: #3A3A3A;
    width: 582px;
    height: 133px;
    font-weight: 700;
    font-size: 52px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 16px;

}

.influencer-detail {
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.prebook {
    width: 196px;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    margin-bottom: 16px;

}

.prebook a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.fa-arrow-right {
    margin-left: 8px;
}

.instrument {
    /* margin-top: 20px; */
    width: 475px;
    height: 475px;
    opacity: 0.85;
    border: 1px solid gray;
    margin-right: 165px;

}

.camera {
    width: 440px;
    height: 414px;
    border: 1px solid;
    position: absolute;
    z-index: 2;
    margin-top: 30px;

}

.back-ground {
    position: relative;
    z-index: 1;
}

/*------------       -------------------
         logos style -----------
-----------         -------------------- */
.logos {
    width: 1110px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border-image-slice: 1;
    /* background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%); */
    padding-top: 42px;
    padding-bottom: 42px;
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-img {
    margin-right: 60px;
}

/*-------------------------------
----------------------- Media Queries--------------
------------------------------------------------------------------ */

/*----------- Mobile Devices--------- */
@media only screen and (max-width:688px) {



    .influencer-top {
        width: 50%;
        flex-direction: column;
    }

}